@import "tailwindcss";

:root {
  --light-blue: #00cef7;
  --normal-blue: #0c71c3;
  --dark-blue: #0088cc;
  --darkest-blue: #003591;
  --gray: #666666;
  --orange: #f26d00;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: "Poppins", sans-serif;
}